/* Style the buttons that are used to open and close the accordion panel */
body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
    font-family: 'Kumbh Sans';
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: -38rem -20rem;
    padding: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 6rem;
    border-radius: 20px;
    overflow: hidden;
    height: 400px
}

.container:nth-child(2) {
    margin-inline-start: auto;
}

.woman {
    margin-left: -120px;
    height: 70%;
}

.box {
    position: absolute;
    margin-left: -7.5rem;
    margin-top: 2.8rem;
    width: 180px;
    height: auto;
}

.faq {
    width: 45%;
    justify-content: center;
    align-self: flex-start;
    margin-top: 20px;
}

h1 {
    font-family: 'Kumbh Sans';
    font-weight: 700;
}

.accordion {
    cursor: pointer;
    background: white;
    padding: 16px 16px 16px 0;
    width: 90%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
    font-family: 'Kumbh Sans';
    font-weight: 400;
    font-size: 12px;
    border-bottom: 2px solid hsl(240, 5%, 91%);
    transition-duration: 0s;
  }

  p {
    font-family: 'Kumbh Sans';
    font-weight: 400; 
    margin-top: 0;
  }

  .arrowDown {
    float: right;
  }

  .accordion.active > .arrowDown {
    transform: rotate(180deg);
  }

  .accordion.active {
      border-bottom: none;
      font-weight: 700;
      transition-duration: 0s;
  }

  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 0 0 0;
    background-color: white;
    display: none;
    overflow: hidden;
    font-family: 'Kumbh Sans';
    font-size: 12px;
    border-bottom: 2px solid hsl(240, 5%, 91%);
  }

  @media (max-width: 500px) {

      .container {
          background-image: url(images/bg-pattern-mobile.svg);
          background-position: top center;
          margin-top: 10rem;
          height: 600px;
          overflow: auto;
      }

      .woman {
        position: absolute;
        margin-left: 1rem;
        margin-top: -28rem;
        width: 16rem;
        height: auto;
    }

    .box {
        position: absolute;
        margin-left: .2rem;
        margin-top: -20.3rem;
        width: 6.5rem;
        height: auto;
    }

    .faq {
        width: 100%;
        margin-top: 5rem;
    }

    h1 {
        text-align: center;
    }
  }

.attribution { 
    margin-top: 1rem;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}